body {
	background-color:#eca1a6;
}
/*How to add picture into whole background no spaces*/
h2 {
	color: white;
}
		/* Ask how to make links different color*/


	.homenav {
		text-align: center;
		display: inline;
		padding: 0px 30px;
	}
	.wsnav {
		text-align: center;
		display: inline;
		padding: 0px 30px;
	}

		/*Ask how to make Name appear in the middle of block*/
div {
	border: 10px;
	padding-bottom: 200px;
	
	
}
.button {
	position: relative;
	left: 450px;
	background:  #c94c4c;
	text-align: center;
	width: 300px;
	height: 100px;
	
}
.moveh2 {
	text-align: center;
}
.staycalm {
	display: none;
	color: black;
	background-color: blue;
	float: right;
	position: relative;
	bottom: 170px;
	font-size: 28px;

}


.About_Me {
	display: none;
	font-size: 18px;
	text-align: center;
}